/* banner */

nav,
nav.active {
  background-color: var(--section-bg-color);
}

.site-banner {
  width: 100%;
  background: url(../images/projects/project-1/banner.png) no-repeat
    var(--section-bg-color);
  background-position: center;
  background-size: contain;
  background-blend-mode: color-burn;
}

.site-banner .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.site-banner h1 div {
  overflow: hidden;
}

.site-banner h1 div span {
  font-size: 8rem;
  font-weight: 700;
}

/* site-info */
.site-info {
  width: 100%;
  padding: 5rem 0;
}

.site-info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  /* border: 10px solid var(--section-bg-color); */
  padding: 4rem 0;
  background: linear-gradient(94.33deg, #e9e4ff 0.58%, #ffeccb 100%);
}

.site-info p {
  width: 80%;
  margin: 1rem 0;
}

/* preview-setion */

.preview-section {
  text-align: center;
  padding: 3rem 0;
}

/* preview slide */

/*** layout ***/

.flex-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.landscape-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 66.6%;
}

.landscape-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#page-wrap {
  position: relative;
}

/*** canvas ***/

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  opacity: 0;

  transition: opacity 0.5s ease-in;
}

.planes-loaded #canvas {
  opacity: 1;
}

/*** content ***/

#content {
  position: relative;
  z-index: 15;

  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
}

#planes {
  overflow: hidden;
  opacity: 0;
  position: relative;
  transition: opacity 0.5s ease-in;
  padding: 3rem 0;
  z-index: 2;
}

.planes-loaded #planes {
  opacity: 1;
}

.plane-wrapper {
  width: 46%;
  float: left;
  position: relative;
  margin: 0.3rem;
}

.plane-inner {
  padding: 20px;
  box-sizing: border-box;
}

.plane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 10px #dddddd;
  z-index: 2;
}

.plane img {
  display: none;
}

/*** handling errors ***/

.no-curtains .plane-title {
  z-index: 1;
}

.no-curtains .plane img {
  display: block;
  width: 100%;
  height: auto;
  border: 2px solid black;
}

@media screen and (max-width: 1320px) {
  #content {
    margin: 0 20px;
  }

  .plane-inner {
    padding: 20px;
  }
}

@media screen and (max-width: 720px) {
  #content {
    margin: 0 10px;
  }

  .plane-wrapper {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  .plane-inner {
    padding: 10px;
  }
}
